<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <body>

  <form action = /post method="POST">
        <label for="code">Enter the value following the code parameter in the redirected URL</label>
        <input type="text" name="code" id="code" value={{code}} size="15">

        <label for="date-from">Date from -- empty = {{days_back}} days ago</label>
        <input type="text" name="date" id=date" size="15">

        <label for="read-content">All content (N) / Non-read content (Y) -- default = Y</label>
        <input type="text" name="read-content" id=read-content" size="15">

        <input type="submit" name="submit" id="submit"/>
 </form>


  </body>
</html>